.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.card-title {
    font-size: 24px;
}

.card-icon .material-icons {
    font-size: 32px;
}

.stat-card-title {
    margin-bottom: 0;
    font-size: 12px;
}

.completed-card {
    border: 3px solid #ff4c8e !important;
}

.card-footer {
    padding: 1rem 0 .5rem 0;
}

.card-stats .card-header.card-header-icon i {
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.card [class*="card-header-"] {
    margin: 0;
}

.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
    margin-top: 0;
}
