<div class="wrapper ">

    <app-categories [selectedCategory]="selectedCategory"
                    [categories]="categories"
                    (selectCategory)="onSelectCategory($event)"
                    (deleteCategory)="onDeleteCategory($event)"
                    (updateCategory)="onUpdateCategory($event)"
                    (addCategory)="onAddCategory($event)"
                    (searchCategory)="onSearchCategory($event)">
    </app-categories>


  <div class="main-panel">
    
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <app-header [categoryName]="selectedCategory ? selectedCategory.title : 'Всі'"
                      [showStat]="showStat"
                      (toggleStat)="toggleStat($event)">
          </app-header>
      </nav>
      
      <div class="content">
          <div class="container-fluid">
                <app-stat [totalTasksInCategory]="totalTasksCountInCategory"
                          [completeTasksInCategory]="completeTasksCountInCategory"
                          [uncompleteTasksInCategory]="uncompleteTasksCountInCategory"
                          [showStat]="showStat">
                </app-stat>
              <div class="row">
                  <div class="col-12">
                    <app-tasks (updateTask)="onUpdateTask($event)"
                               (deleteTask)="onDeleteTask($event)"
                               (selectCategory)="onSelectCategory($event)"
                               (filterByStatus)="onFilterTaskByStatus($event)"
                               (filterByTitle)="onFilterTaskByTitle($event)"
                               (filterByPriority)="onFilterTaskByPriority($event)"
                               (addTask)="onAddTask($event)"
                               [tasks]="tasks"
                               [priorities]="priorities"
                               [selectedCategory]="selectedCategory">
                    </app-tasks>
                  </div>
              </div>
          </div>
      </div>
      <app-footer></app-footer>
  </div>
</div>
