<!-- <div class="wrapper"> -->
  <mat-drawer-container [hasBackdrop]="isMobile" (backdropClick)="menuOpened = false">
    <mat-drawer #drawer [mode]="menuMode" [(opened)]="menuOpened" autoFocus="false">
      <div class="sidebar" data-background-color="white"
          data-color="purple"
          data-step="1"
          data-intro="Фільтрування задач додавання/видалення/редагування категорій"
          data-position="right">

        <app-categories [selectedCategory]="selectedCategory"
                        [categories]="categories"
                        [categoryMap]="categoryMap"
                        [uncompletedTotal]="uncompleteTotalTasksCountInCategory"
                        (selectCategory)="onSelectCategory($event)"
                        (deleteCategory)="onDeleteCategory($event)"
                        (updateCategory)="onUpdateCategory($event)"
                        (addCategory)="onAddCategory($event)"
                        (searchCategory)="onSearchCategory($event)">
        </app-categories>
      </div>
    </mat-drawer>
<mat-drawer-content>
  <div class="main-panel"
       [class.w-100]="!drawer.opened">
    
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        
          <app-header [categoryName]="selectedCategory ? selectedCategory.title : 'Всі'"
                      [showStat]="showStat"
                      (toggleStat)="toggleStat($event)"
                      (toggleMenu)="toggleMenu()">
          </app-header>
      </nav>
      
      <div class="content">
        
            <div class="container-fluid">
              <div data-step="2"
                   data-intro="Список задач з статистикою"
                   data-position="left">
                <app-stat [totalTasksInCategory]="totalTasksCountInCategory"
                          [completeTasksInCategory]="completeTasksCountInCategory"
                          [uncompleteTasksInCategory]="uncompleteTasksCountInCategory"
                          [showStat]="showStat">
                </app-stat>
                </div>
              <div class="row">
                  <div class="col-12">
                    <app-tasks (updateTask)="onUpdateTask($event)"
                               (deleteTask)="onDeleteTask($event)"
                               (selectCategory)="onSelectCategory($event)"
                               (filterByStatus)="onFilterTaskByStatus($event)"
                               (filterByTitle)="onFilterTaskByTitle($event)"
                               (filterByPriority)="onFilterTaskByPriority($event)"
                               (addTask)="onAddTask($event)"
                               [tasks]="tasks"
                               [priorities]="priorities"
                               [selectedCategory]="selectedCategory">
                    </app-tasks>
                  </div>
              </div>
          </div>
      <!-- </div> -->
      <app-footer></app-footer>
  </div>

</div>
<!-- </div> -->
