<app-categories class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3  bg-gradient-dark" id="sidenav-main"></app-categories>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <app-header></app-header>
  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <app-stat [completeTasksInCategory]="completedCountInCategory"
              [totalTasksInCategory]="totalTasksCountInCategory"
              [uncompleteTasksInCategory]="uncompletedCountInCategory">
    </app-stat>

    <app-tasks class="row mt-3"></app-tasks>

    <app-footer></app-footer>
    
  </div>
</main>
