.completed {
    text-decoration: line-through;
    color: #797979;
}

.no-value {
    color: #9a969666;
}

.form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked:after {
    opacity: 0;
}