.completed {
    text-decoration: line-through;
    color: #797979;
}

.no-value {
    color: #9a969666;
}

.form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked:after {
    opacity: 0;
}

.card-header {
    padding: .5rem;
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    color: #fff;
}

.col-color {
    width: 1%;
}

.col-title {
    width: 40%;
}

.col-id {
    width: 4%;
    text-align: center;
}

.col-priority {
    width: 10%;
}

.col-category {
    width: 10%;
}

.col-status {
    width: 3%;
}

.col-date {
    width: 11%;
}

.col-operations {
    width: 9%;
} 

.icon {
    font-size: 18px;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    background: inherit;
}

.delete-icon {
    color: #ea6561;   
}

.edit-icon {
    color: #9A9A9A;
}

.mat-mdc-header-row  {
    font-size: 1.063rem;
    color: #9c27b0 !important;
    font-weight: normal;
}
