.completed {
    text-decoration: line-through;
    color: #797979;
    background-color: transparent !important;
}

.no-value {
    color: #9a969666;
}

.form-check:not(.form-switch) .form-check-input[type="checkbox"]:checked:after {
    opacity: 0;
}

.card-header {
    padding: .5rem;
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    color: #fff;
}

.col-color {
    width: 1%;
}

.col-title {
    width: 39%;
}

.col-id {
    width: 3%;
    text-align: center;
}

.col-priority {
    width: 5%;
}

.col-category {
    width: 10%;
}

.col-status {
    width: 2%;
}

.col-date {
    width: 20%;
    font-size: 13px;
}

.col-operations {
    width: 19%;
} 

.delete-icon {
    color: #ea6561;   
}

.edit-icon {
    color: #9A9A9A;
}

.mat-mdc-header-row  {
    font-size: 1.063rem;
    color: #9c27b0 !important;
    font-weight: normal;
}

.card {
    margin-top: 0;
}

.card-mobile {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.background-completed {
    background-color: #94ada7 !important
}

.mobile-priority-top {
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mobile-title-inner {
    padding: 14px;
    padding-left: 15px;
    margin-left: 10px;
    padding-bottom: 0;
}

.mobile-info-inner {
    padding-bottom: 14px;
    padding-left: 15px;
    margin-left: 10px;
}

.mobile-category {
    float: left;
    display: inline-block;
    text-align: left;
    margin-top: 8px;
    color: #8e8e8e;
}

.mobile-priority {
    float: left;
    display: inline-block;
    text-align: left;
    margin-top: 8px;
    margin-left: 5px;
    color: #8e8e8e;
}

.mobile-category p {
    margin: 0;
}

.mobile-category p.category, p.priority {
    display: inline;
    padding: 5px;
    background-color: rgba(227, 227, 227, 0.89);
    color: rgba(78, 78, 78, 0.89);
    border-radius: 4px;
}

.mobile-check {
    padding-top: 14px;
}

.mobile-date {
    float: left;
    display: inline-block;
    text-align: right;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 10px;
    color: #8e8e8e;
}

.mobile-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.check-icon-notcompleted {
    font-size: 40px !important;
    color: #dadada;
}

.check-icon-completed {
    font-size: 40px !important;
    color: rgba(167, 214, 182, 0.89);
}

.reset-search {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: underline;
    color: rgba(5, 83, 123, 0.98);
    text-align: center;
}

div.card-mobile p {
    margin-bottom: 0 !important;
}

.nopadding-left{
    padding-left: 0;
}

.padding-top-20{
    padding-top: 10px;
}

.no-width {
    width: 100%;
}
